body {
    margin: 0;
    padding: 0;
    font-family: 'Droid Sans', sans-serif;
  }
  
  .container {
    width: 1349px;
    height: 900px;
    margin: 0px auto;
    text-align: center;
  }
  
  .container h2 {
    width: 1349px;
    top: 0px;
    font-weight: 700;
    font-size: 18px;
    margin: 0;
    padding: 13px 15px;
    text-align: center;
    color: white;
    margin-bottom: 60px;
    font-family: 'Droid Sans', sans-serif;
  }
  
  .container p {
    color: #919191;
  }
  
  .services-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
  }
  
  .services-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 360px;
    height: 411px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-left: 25px;
    padding: 10px;
    margin: 40px 25px;
  }
  
  .icon {
    width: 130px;
    height: 130px;
    margin: 10px;
    border: solid;
    border-radius: 100%;
    text-align: center;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
  }
  
  .icon i {
    font-size: 52px;
    line-height: 120px;
    display: inline-block;
  }
  
  .container {
    width: 1349px;
    height: 900px;
    margin: 0px auto;
    text-align: center;
  }
  
  .container h2 {
    width: 1319px;
    top: 0px;
    font-weight: 700;
    font-size: 18px;
    margin: 0;
    padding: 13px 15px;
    text-align: center;
    color: white;
    margin-bottom: 60px;
  }
  
  button {
    padding: 14px 35px;
    color: #fff;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    border: 1px solid transparent;
    margin-bottom: 20px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }
  
  .demo1 h2 {
    background-color: orange;
  }
  
  .demo1 .icon {
    color: orange;
  }
  
  .demo1 button {
    background: orange;
  }
  
  .demo1 .services-item {
    width: 360px;
    height: 411px;
    -webkit-box-shadow: 1px 1px 10px #9e9e9e;
            box-shadow: 1px 1px 10px #9e9e9e;
  }
  
  .demo1 .services-item::after {
    position: absolute;
    content: "";
    bottom: 0;
    width: 340px;
    height: 0;
    background-color: orange;
    z-index: -1;
  }
  
  .demo1 .services-item:hover::after {
    height: 391px;
    transition: all 0.4s linear;
    padding: 10px;
    margin: 40px 25px;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
  }
  
  .demo1 .services-item:hover {
    color: white;
  }
  
  .demo1 .services-item:hover button {
    background: white;
    color: orange;
  }
  
  .demo1 .services-item:hover .icon {
    color: white;
  }
  
  .demo1 .services-item:hover p {
    color: white;
  }
  
  .demo1 a {
    color: white;
  }
  
  .demo2 {
    background-color: #5656a6;
  }
  
  .demo2 h2 {
    background-color: #4d4d95;
  }
  
  .demo2 .icon {
    color: white;
  }
  
  .demo2 button {
    background: white;
    color: black;
  }
  
  .demo2 .services-item:hover {
    background-color: #4d4d95;
    transition: all .4s ease;
    transform: scale(0.9);
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
  }
  
  .demo2 h1,
  .demo2 p {
    color: white;
  }
  
  .demo2 .services-item:hover button {
    background-color: #5656a6;
    color: white;
  }
  
  .demo2 a {
    color: black;
  }
  
  .demo3 .services-item {
    width: 360px;
    height: 352px;
  }
  
  .demo3 h2 {
    background-color: #24cf5f;
    color: white;
  }
  
  .demo3 .icon {
    color: #24cf5f;
    border: none;
  }
  
  .demo3 button {
    background: #24cf5f;
    border-radius: 43px;
    -webkit-border-radius: 43px;
    -moz-border-radius: 43px;
    -ms-border-radius: 43px;
    -o-border-radius: 43px;
  }
  
  .demo3 .overlay:hover {
    -webkit-animation-name: example;
            animation-name: example;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  
  @-webkit-keyframes example {
    0% {
      border-bottom: 2px solid #24cf5f;
    }
    25% {
      border-bottom: 2px solid #24cf5f;
      border-left: 2px solid #24cf5f;
    }
    50% {
      border-bottom: 2px solid #24cf5f;
      border-left: 2px solid #24cf5f;
      border-top: 2px solid #24cf5f;
    }
    100% {
      border: 2px solid #24cf5f;
    }
  }
  
  @keyframes example {
    0% {
      border-bottom: 2px solid #24cf5f;
    }
    25% {
      border-bottom: 2px solid #24cf5f;
      border-left: 2px solid #24cf5f;
    }
    50% {
      border-bottom: 2px solid #24cf5f;
      border-left: 2px solid #24cf5f;
      border-top: 2px solid #24cf5f;
    }
    100% {
      border: 2px solid #24cf5f;
    }
  }
  
  .demo3 button:hover {
    background-color: #47df7b;
  }
  
  .demo3 a {
    color: white;
  }
  
  .demo4 h2 {
    background-color: #e12573;
  }
  
  .demo4 .services-item {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
  
  .demo4 .icon {
    border: none;
    color: #e12573;
  }
  
  .demo4 button {
    background: #e12573;
    border-radius: 43px;
    margin-bottom: 100px;
    padding: 12px 10px;
    margin-left: 30px;
    -webkit-border-radius: 43px;
    -moz-border-radius: 43px;
    -ms-border-radius: 43px;
    -o-border-radius: 43px;
  }
  
  .demo4 .services-item {
    position: relative;
    overflow: hidden;
  }
  
  .demo4 .services-item::after {
    position: absolute;
    content: "";
    background-color: #e12573;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    transition: all .4s ease;
    transform: translateX(100%);
    right: 0;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #e12573;
    z-index: -1;
    margin-bottom: 80px;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
  
  .demo4 .services-item:hover::after {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
  
  .demo4 .services-item:hover .icon {
    color: white;
  }
  
  .demo4 .services-item:hover button {
    background-color: #e75290;
  }
  
  .demo4 .services-item:hover p {
    color: white;
  }
  
  .demo4 .services-item:hover h1 {
    color: white;
  }
  
  .demo4 a {
    color: white;
  }
  
  